<div class="gh-segmented" [class.gh-segmented--primary]="variant() === 'primary'" role="radiogroup">
  @for (option of options(); track option.value) {
    <label class="gh-segmented__label">
      <input
        type="radio"
        class="gh-segmented__input"
        [value]="option.value"
        [checked]="value() === option.value"
        (change)="selectOption(option.value)"
      />
      <span class="gh-segmented__button" [class.is-active]="value() === option.value">
        {{ option.label }}
      </span>
    </label>
  }
</div>


