<div class="gh-input-wrapper">
  @if (label()) {
    <label [for]="id()" class="gh-label">
      {{ label() }}
    </label>
  }
  
  <div class="gh-control-container">
    <input
      [id]="id()"
      [type]="effectiveType()"
      [attr.inputmode]="effectiveInputmode()"
      [placeholder]="placeholder()"
      [disabled]="disabled()"
      [class.has-error]="!!error()"
      [value]="value()"
      (input)="handleInput($event)"
      (keydown)="handleKeydown($event)"
      (paste)="handlePaste($event)"
      (blur)="handleBlur()"
      class="gh-control"
      [class.has-suffix]="!!suffix()"
    />
    @if (suffix()) {
      <span class="gh-control-suffix">{{ suffix() }}</span>
    }
  </div>

  @if (error()) {
    <p class="gh-error-text">{{ error() }}</p>
  } @else if (hint()) {
    <p class="gh-hint-text">{{ hint() }}</p>
  }
</div>


